<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <%=image_tag(@article.image.url) %>
<!--  <img src="<%#=@article.image %>">-->
</p>

<p>
  <strong>Hashtags: </strong>
  <%@article.hashtags.each do |h| %>
    #<%=h.title %>
  <% end %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<%if user_signed_in? %>
  <p>
    <%=form_for Comment.new, url: article_comments_path(@article.id) do |f| %>
      <%=f.label :content %>
      <%=f.text_field :content %>

      <%=f.submit %>
    <%end %>
  </p>
<%end %>

<%@article.comments.each do |comment| %>

  <%=comment.content %>

  <%if comment.user_id == current_user.id %>
    <%=link_to '삭제', article_comment_path(@article.id, comment.id), method: :delete %>
  <%end %>

<%end%>